<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         stderr="true">
    <testsuites>
        <testsuite name="Library Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <!-- Code coverage settings -->
    <coverage>
        <include>
            <directory>src</directory>
        </include>
        <report>
            <clover outputFile="clover.xml"/>
        </report>
    </coverage>
</phpunit>


